* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  color: hsla(0, 0%, 100%, 0.75);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.text1 {
  font-family: "Inter", sans-serif;
}

.text2 {
  font-family: "Lexend Deca", sans-serif;
}

/* ///////////// */

.pa {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  mix-blend-mode: multiply;
}

.image img {
  width: 100%;
  order: 2;
}

.image img:last-child{
display: none;
}

.content {
  width: 50%;
  padding: 0 40px 0 40px;
}

.content h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
}

.koki {
  color: hsl(277, 64%, 61%);
}

.content p {
  color: hsla(0, 0%, 100%, 0.75);
}

.numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.stat {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.6em;
}

.stat-p {
  color: hsla(0, 0%, 100%, 0.6);
}

.numbers div {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.haolo {
  color: hsl(233, 47%, 7%);
  color: hsl(244, 38%, 16%);
  color: hsla(0, 0%, 100%, 0.6);
  color: hsl(277, 64%, 61%);
  color: hsla(0, 0%, 100%, 0.75);
  color: hsl(0, 0%, 100%);
}

@media (max-width : 991px) {
  .card{
    flex-direction: column-reverse;
    border-radius: 20px;
    max-width: 600px;
    text-align: center;
  }
  .image img:first-child {
    display: none;
  }
  .image img:last-child{
    display: block;
  }
  .image{
    width: fit-content;
  }
  .content{
    width: fit-content;
  }
}
